/* Player Widget */

.flex-widget-fwplayer *,
.flex-widget-fwplayer *:before,
.flex-widget-fwplayer *:after {
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    box-sizing: content-box !important;
    text-shadow: none !important;
}

.flex-widget-fwplayer .flex-widget-container {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
}

.flex-widget-fwplayer .fw-content-buttons {
    right: 5px;
    top: 5px;
    position: absolute;
}

.flex-widget-fwplayer .fw-content-div {
    position: absolute;
    overflow: hidden;
}

.flex-widget-fwplayer .fw-content {
    width: 100%;
    height: 100%;
    position: absolute;
}

.flex-widget-fwplayer .fw-content-image {
    position: absolute;
}

.flex-widget-fwplayer .fw-content-image img {
    max-height: 100%;
}

.flex-widget-fwplayer .fw-content-nowplaying {
    text-align: center;
}

.flex-widget-fwplayer .fw-nowplaying-producer {
    font-size: 15px;
}

.flex-widget-fwplayer .fw-nowplaying-songname {
    font-size: 18px;
}

.flex-widget-fwplayer .fw-nowplaying-genres {
    font-size: 12px;
}

.flex-widget-fwplayer.reduced-songinfo-size .fw-outer-content .fw-nowplaying-producer,
.flex-widget-fwplayer.reduced-content-size .fw-inner-content .fw-nowplaying-producer {
    font-size: 10px;
    line-height: 14px;
    height: 14px;
}

.flex-widget-fwplayer.reduced-songinfo-size .fw-outer-content .fw-nowplaying-songname,
.flex-widget-fwplayer.reduced-content-size .fw-inner-content .fw-nowplaying-songname {
    font-size: 11px;
    line-height: 14px;
    height: 14px;
}

.flex-widget-fwplayer.reduced-songinfo-size .fw-outer-content .fw-nowplaying-genres,
.flex-widget-fwplayer.reduced-content-size .fw-inner-content .fw-nowplaying-genres {
    font-size: 9px;
}

.flex-widget-fwplayer .jp-button {
    display: block;
}

.flex-widget-fwplayer .fw-button-tab {
    height: 28px;
    padding-top: 2px;
}

.flex-widget-fwplayer.iconic .fw-button-tab {
    width: 31px;
    padding-top: 0px;
}

.flex-widget-fwplayer.inline-buttons .fw-button-tab {
    display: inline-block;
}

.flex-widget-fwplayer.iconic .button-text {
    display: none;
}

.flex-widget-fwplayer.inline-buttons .fw-content-buttons {
    width: auto;
}

.flex-widget-fwplayer.iconic .fw-content-buttons {
    width: auto;
    height: auto;
}

.flex-widget-fwplayer.detach-songinfo .fw-content-nowplaying.reserved {
    display: block;
}

.flex-widget-fwplayer.detach-songinfo .fw-button-tab.nowplaying {
    display: none;
}

.flex-widget-fwplayer .table-cell.controls {
    height: 35px;
}

.flex-widget-fwplayer .flex-player-cart-container {
    position: absolute;
    width: 100%;
    height: 0;
    margin-top: 1px;
    overflow: hidden;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.flex-widget-fwplayer .flex-player-cart-container.visible {
    height: 30px;
}

.flex-widget-fwplayer .flex-player-cart-container.visible.full {
    height: 150px;
}

.flex-widget-fwplayer .flex-player-cart-container.top {
    bottom: 100%;
}

.flex-widget-fwplayer .flex-player-cart-container.bottom {
    top: 100%;
    margin-top: -3px;
}

.flex-widget-fwplayer .flex-player-cart-container.top .cart-inner-wrap {
    position: absolute;
    top: 0;
}

.flex-widget-fwplayer .flex-player-cart-container .cart-summary-wrap {
    position: absolute;
    overflow: hidden;
    height: 30px;
    width: 100%;
}

.flex-widget-fwplayer .flex-player-cart-container.bottom .cart-summary-wrap {
    bottom: 0;
}

.flex-widget-fwplayer .flex-player-cart-container.top .cart-summary-wrap {
    top: 0;
}

.flex-widget-fwplayer .flex-player-cart-container .cart-summary-wrap .cart-totals {
    display: block;
    position: absolute;
    right: 5px;
    margin-top: 8px;
    margin-right: 4px;
    cursor: pointer;
    pointer: hand;
}

.flex-widget-fwplayer .flex-player-cart-container .cart-summary-wrap .cart-checkout {
    display: block;
    position: absolute;
    left: 5px;
    margin-top: 2px;
}

.flex-widget-fwplayer .flex-player-cart-container .cart-summary-wrap .cart-checkout button {
    cursor: pointer;
    pointer: hand;
}

.flex-widget-fwplayer .flex-player-cart-container .cart-list-wrap {
    position: absolute;
    height: 110px;
    width: 100%;
}

.flex-widget-fwplayer .flex-player-cart-container.bottom .cart-list-wrap {
    bottom: 35px;
}

.flex-widget-fwplayer .flex-player-cart-container.top .cart-list-wrap {
    top: 35px;
}

.flex-widget-fwplayer .flex-player-cart-container .dx-scrollview-content {
    padding: 5px 10px 0;
}


.fw-theme-default.flex-widget-fwplayer {
    background-color: #3A3B3C;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.fw-theme-default.flex-widget-fwplayer .fw-preview-area {
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.75), 0 1px 0 rgba(255, 255, 255, 0.4) inset, 0 1px 1px rgba(0, 0, 0, 0.2);
    border: 1px solid #4e4e4e;
    border-bottom: 0;
    color: #fff;
}

.fw-theme-default.flex-widget-fwplayer .fw-content-nowplaying {
    text-align: center;
}

.fw-theme-default.flex-widget-fwplayer .fw-nowplaying-producer {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 22px;
    color: #ddd;
}

.fw-theme-default.flex-widget-fwplayer .fw-nowplaying-songname {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 26px;
    color: #fff;
}

.fw-theme-default.flex-widget-fwplayer .fw-nowplaying-genres {
    font-style: italic;
    color: #aaa;
}

.reduced-songinfo-size .fw-theme-default.flex-widget-fwplayer .fw-outer-content .fw-nowplaying-producer,
.reduced-content-size .fw-theme-default.flex-widget-fwplayer .fw-inner-content .fw-nowplaying-producer {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 13px;
    color: #ddd;
}

.reduced-songinfo-size .fw-theme-default.flex-widget-fwplayer .fw-outer-content .fw-nowplaying-songname,
.reduced-content-size .fw-theme-default.flex-widget-fwplayer .fw-inner-content .fw-nowplaying-songname {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 15px;
    color: #fff;
}

.reduced-songinfo-size .fw-theme-default.flex-widget-fwplayer .fw-outer-content .fw-nowplaying-genres,
.reduced-content-size .fw-theme-default.flex-widget-fwplayer .fw-inner-content .fw-nowplaying-genres {
    overflow: hidden;
    font-style: italic;
    height: 12px;
    color: #aaa;
}

.fw-theme-default.flex-widget-fwplayer a,
.fw-theme-default.flex-widget-fwplayer a:link,
.fw-theme-default.flex-widget-fwplayer a:visited {
    text-decoration: none;
    color: #ddd;
}

.fw-theme-default.flex-widget-fwplayer a:hover {
    text-decoration: none;
    color: #fff;
}

.fw-theme-default.flex-widget-fwplayer .flex-player-cart-container {
    color: #fff;
}

.fw-theme-default.flex-widget-fwplayer .flex-player-cart-container.visible {
    background: #4E4E4E;
}

.fw-theme-default.flex-widget-fwplayer .flex-player-cart-container.top {
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
}

.fw-theme-default.flex-widget-fwplayer .flex-player-cart-container.bottom {
    border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
}

.fw-theme-default.flex-widget-fwplayer .flex-player-cart-container.top .cart-inner-wrap {

}

/* Playlist */

.fw-theme-default.flex-widget-fwplayer .flex-widget-playlist ul li,
.fw-theme-default.flex-widget-fwplayer .flex-widget-playlist .fw-playlist-loading {
    font-size: 12px;
}

.fw-theme-default.flex-widget-fwplayer .flex-widget-playlist .fw-playlist-current,
.fw-theme-default.flex-widget-fwplayer .flex-widget-playlist .fw-playlist-current a,
.fw-theme-default.flex-widget-fwplayer .flex-widget-playlist .fw-playlist-current a:hover {
    color: yellow;
}

/* Licensing */
