/* Player Widget */

.fw-theme-default.flex-widget-fwplayer {
    background-color: #3A3B3C;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.fw-theme-default.flex-widget-fwplayer .fw-preview-area {
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.75), 0 1px 0 rgba(255, 255, 255, 0.4) inset, 0 1px 1px rgba(0, 0, 0, 0.2);
    border: 1px solid #4e4e4e;
    border-bottom: 0;
    color: #fff;
}

.fw-theme-default.flex-widget-fwplayer .fw-content-nowplaying {
    text-align: center;
}

.fw-theme-default.flex-widget-fwplayer .fw-nowplaying-producer {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 22px;
    color: #ddd;
}

.fw-theme-default.flex-widget-fwplayer .fw-nowplaying-songname {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 26px;
    color: #fff;
}

.fw-theme-default.flex-widget-fwplayer .fw-nowplaying-genres {
    font-style: italic;
    color: #aaa;
}

.reduced-songinfo-size .fw-theme-default.flex-widget-fwplayer .fw-outer-content .fw-nowplaying-producer,
.reduced-content-size .fw-theme-default.flex-widget-fwplayer .fw-inner-content .fw-nowplaying-producer {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 13px;
    color: #ddd;
}

.reduced-songinfo-size .fw-theme-default.flex-widget-fwplayer .fw-outer-content .fw-nowplaying-songname,
.reduced-content-size .fw-theme-default.flex-widget-fwplayer .fw-inner-content .fw-nowplaying-songname {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 15px;
    color: #fff;
}

.reduced-songinfo-size .fw-theme-default.flex-widget-fwplayer .fw-outer-content .fw-nowplaying-genres,
.reduced-content-size .fw-theme-default.flex-widget-fwplayer .fw-inner-content .fw-nowplaying-genres {
    overflow: hidden;
    font-style: italic;
    height: 12px;
    color: #aaa;
}

.fw-theme-default.flex-widget-fwplayer a,
.fw-theme-default.flex-widget-fwplayer a:link,
.fw-theme-default.flex-widget-fwplayer a:visited {
    text-decoration: none;
    color: #ddd;
}

.fw-theme-default.flex-widget-fwplayer a:hover {
    text-decoration: none;
    color: #fff;
}

.fw-theme-default.flex-widget-fwplayer .flex-player-cart-container {
    color: #fff;
}

.fw-theme-default.flex-widget-fwplayer .flex-player-cart-container.visible {
    background: #4E4E4E;
}

.fw-theme-default.flex-widget-fwplayer .flex-player-cart-container.top {
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
}

.fw-theme-default.flex-widget-fwplayer .flex-player-cart-container.bottom {
    border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
}

.fw-theme-default.flex-widget-fwplayer .flex-player-cart-container.top .cart-inner-wrap {

}

/* Playlist */

.fw-theme-default.flex-widget-fwplayer .flex-widget-playlist ul li,
.fw-theme-default.flex-widget-fwplayer .flex-widget-playlist .fw-playlist-loading {
    font-size: 12px;
}

.fw-theme-default.flex-widget-fwplayer .flex-widget-playlist .fw-playlist-current,
.fw-theme-default.flex-widget-fwplayer .flex-widget-playlist .fw-playlist-current a,
.fw-theme-default.flex-widget-fwplayer .flex-widget-playlist .fw-playlist-current a:hover {
    color: yellow;
}

/* Licensing */
